.destinyOption{
    display: flex;
    flex-direction: column;
    align-items: center;
        border: 1px solid white;
        background-color: rgb(99, 95, 95);
        border-radius: 1rem;
        padding: 1.5rem;
        margin: 1rem;
}

