.wallet-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.wallet-cards {
    width: 250px;
    height: 150px;
    margin: 10px;
    color: rgb(119, 119, 119);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(124, 124, 124);
}

/* .wallet-cards:nth-child(1) {
    background-color: rgb(50, 160, 59);
}

.wallet-cards:nth-child(2) {
    background-color: rgba(255, 0, 34, 0.842);
}

.wallet-cards:nth-child(3) {
    background-color: rgb(50, 88, 160);
} */

.wallet-money {
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 1.6em;
    border-bottom: 1px solid;
}

.wallet-money p {
    margin: 0;
}

.wallet-cards .wallet-balance {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.wallet-cards .wallet-balance p {
    font-size: 2em;
}