/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

.loginContainer {
	height: 100vh;
	background: black;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  
}
.fieldGroup {
	display: flex;
	align-items: center;
	flex-direction: column;
  }
  
  .inputGroup {
	flex: 1;
	display: flex;
	flex-direction: column;
  }
  
  .errorContainer {
	height: 30px;
	display: flex;
	align-items: center;
	margin-left: 10px; /* Espacio entre el input y el mensaje de error */
  }


  

.msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	/* position: relative; */
}

.msform fieldset {
	background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
	border: 0 none;
	border-radius: 10px; /* Rounded corners */
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
}

.sigIn{
	text-decoration: none;
	color: black;
}

/* Hide all except first fieldset */
.msform fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/
.msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}


.passwordContainer, .emailContainer{
	display: flex;
	align-items: center;
}

/*buttons*/
.msform button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	transition: background-color 0.3s ease; /* Smooth color transition */
}

.msform .buttonSigIn:hover, #msform .buttonSigIn:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
	background: #24A155; 
}
/* Estilos para el botón habilitado */
.buttonLogIn:enabled {
	background-color: #27AE60; /* Color de fondo verde */
	color: white; /* Texto en color blanco */
  }
  
  /* Estilos para el botón deshabilitado */
  .buttonLogIn:disabled {
	background-color: #CCCCCC; /* Color de fondo gris claro */
	color: #666666; /* Texto en color gris más oscuro */
  }
  

/*headings*/
.fsTitle {
	font-size: 25px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}






